<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>QR Code</title>
    <style>
      body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
      }
      h1 {
        color: #0077b6;
        font-size: 48px;
        text-align: center;
        margin-top: 15%;
      }
      p {
        color: #444;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
      }
      #qrcode-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
      }
      #qrcode {
        width: 200px;
        height: 200px;
        margin-top: 30px;
      }
      #qrcode-label {
        color: #0077b6;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <h1>Your QR Code</h1>
    <div id="qrcode-container">
      <img id="qrcode" src="<%= qrcode %>" alt="QR Code" />
      <p id="qrcode-label">This QR code contains your details</p>
    </div>
  </body>
</html>
