<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>SignUp page</title>
    <style>
      body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
      }
      h1 {
        color: #0077b6;
        font-size: 48px;
        text-align: center;
        margin-top: 15%;
      }
      p {
        color: #444;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <h1>WELCOME</h1>
    <form action="/qrcode" method="get">
      <label for="text">Enter text to encode:</label>
      <input type="text" name="text" id="text" />
      <input type="number" name="phone" id="text" />
      <button type="submit">Generate QR Code</button>
    </form>
  </body>
</html>
